.nav {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  position: sticky;
  top: 0;
  background: rgba(244, 239, 234, 0.95);
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 1.3rem 0rem;
}

.logoContainer a {
  color: var(--text-h);
  font-size: 1.3rem;
  font-weight: 507;
  padding-left: 5rem;
  text-decoration: none;
}

.logoContainer a:hover {
  font-size: 1.32rem;
}

.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.linksWrapper a {
  color: var(--code-bg);
  font-family: var(--mono);
  font-size: 1rem;
  font-weight: 500;
  padding-right: 1rem;
  text-decoration: none;
}

.linksWrapper a:hover {
  color: var(--accent);
}