body {
  margin: 0;
}

:root {
  --text: #0c0c0e;
  --text-h: #0c0c0e;
  --bg: #f4f0ea;
  --border: #e5e4e7;
  --card: #fdfcfa;
  --code-bg: #4e4e4e;
  --accent: #c0510d;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --text-accent: 'Oswald', sans-serif;
  --navLinks: 'Inter', sans-serif;
  --mono: 'Courier Prime', ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}